body {
    width: 100%;
    background-color: rgb(240, 240, 240);
    border-bottom: solid 1px #aaa;
    border-radius: 0 0 25px 25px;
    padding-bottom: 25px;
    box-shadow: 30px 10px 30px rgba(0, 0, 0, 0.15);
}

.options {
    margin-right: 6%;
}