<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
    <header>
        <app-header></app-header>
    </header>
    <section class="container">
        <div id="tbSupplier"></div>
    </section>
    <!-- botones ventana principal  -->
    <section class="options">
        <button type="button" class="btn btn-outline-dark" data-bs-toggle="modal" data-bs-target="#Modal" data-bs-whatever="@mdo">
            <i class="fas fa-user-edit"></i> Buscar</button>
        <button type="button" class="btn btn-outline-dark" data-bs-toggle="modal" data-bs-target="#Moda2" data-bs-whatever="@mdo">
            <i class="fas fa-user-plus"></i> Agregar</button>

    </section>
    <!-- ventana modal buscar -->
    <section>

        <div class="modal fade" id="Modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Editar</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <form>
                            <div class="mb-3">
                                <label for="recipient-name" class="col-form-label">codigo o nit </label>
                                <input id="inp_code" type="text" class="form-control">
                                <!--data-->

                            </div>
                            <div id="messageEdit">
                            </div>
                            <div id="Form_Supplier">
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                        <button id="btn_buscar" type="button" class="btn btn-primary">
                            <i class="fas fa-search"></i> Buscar</button>
                        <button id="btn_editar" type="button" class="btn btn-warning">
                            <i class="fas fa-edit"></i> Editar</button>
                        <button id="btn_eliminar" type="button" class="btn btn-danger">
                            <i class="fas fa-eraser"></i> Eliminar</button>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ventana modal agregar -->
    <section>

        <div class="modal fade" id="Moda2" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Agregar</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <form>
                            <div class="mb-3">
                                <label for="recipient-name" class="col-form-label">Codigo Proveedor</label>
                                <input id="inp_newCode" type="text" class="form-control">
                                <!--data-->
                                <label for="recipient-name" class="col-form-label">Nombre</label>
                                <input id="inp_newName" type="text" class="form-control">
                                <label for="recipient-name" class="col-form-label">Correo</label>
                                <input id="inp_newEmail" type="text" class="form-control">
                                <label for="recipient-name" class="col-form-label">nit</label>
                                <input id="inp_newNit" type="text" class="form-control">
                                <label for="recipient-name" class="col-form-label">Telefono</label>
                                <input id="inp_newtelephone" type="text" class="form-control">

                            </div>
                            <div id="message">

                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button id="btn_crearPv" type="button" class="btn btn-success">Crear</button>
                    </div>
                </div>
            </div>
        </div>
    </section>

</body>

</html>