<div id="footer_content">
    <h2>Marcas Que Manejamos</h2>
    <ul id="marcas">
        <li><img class="img_footer" src="assets/dashboard/marcas/akrapovic.png">
            <img class="img_footer" src="assets/dashboard/marcas/sc.png">
            <img class="img_footer" src="assets/dashboard/marcas/yoshimura.png">
            <img class="img_footer" src="assets/dashboard/marcas/termignoni.png">
        </li>
        <li><img class="img_footer" src="assets/dashboard/marcas/hjc.png">
            <img class="img_footer" src="assets/dashboard/marcas/AGV.png">
            <img class="img_footer" src="assets/dashboard/marcas/scorpion.png">
            <img class="img_footer" src="assets/dashboard/marcas/shoei.png">
        </li>
        <li><img class="img_footer" src="assets/dashboard/marcas/Suzuki.png">
            <img class="img_footer" src="assets/dashboard/marcas/Yamaha.jpg">
            <img class="img_footer" src="assets/dashboard/marcas/kawasaki.png">
            <img class="img_footer" src="assets/dashboard/marcas/ducati.png">
        </li>
    </ul>
</div>